// Couleurs
$primary-color: #97C4A7;
$secondary-color: #A2D5C6;
$text-color: #333;
$background-color: #FAF3EB;
$light-gray: #f0f0f0;

// Mixin pour le style des boutons
@mixin button-style($bg-color: $primary-color) {
  display: inline-block;
  padding: 10px 20px;
  background-color: $bg-color;
  color: #fff;
  text-decoration: none; /* Retire le soulignement */
  border: none; /* Désactive la bordure */
  outline: none; /* Supprime l'outline au focus */
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s; /* Ajoute une transition pour le hover */
  &:hover {
    background-color: darken($bg-color, 10%); /* Fonce la couleur au survol */
  }
  &:focus {
    outline: none; /* Supprime l'outline au focus */
  }
}


