// Couleurs principales
$primary-color: #71a383 ; // Vert doux (ancienne couleur)
$text-color: #333; // Couleur principale du texte
$background-color: #f9f9f9; // Fond global
$light-gray: #f0f0f0;

// Couleurs des états
$danger-color: #e74c3c; // Rouge pour les actions dangereuses (ex. Supprimer)
$secondary-color: #97C4A7; // Vert doux (ancienne couleur)
$hover-darken: 10%; // Pour ajuster les hover

// Typographie
$font-family: 'Roboto', sans-serif; // Typographie principale
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 14px;

// Espacement
$spacing-unit: 10px; // Unité de base pour les marges et padding
$border-radius: 5px; // Rayon des bordures pour boutons, cartes, etc.

// Ombres
$box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); // Ombre pour les boutons et modales

// Breakpoints pour la responsivité
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Mixin pour le style des boutons
@mixin button-style($bg-color: $primary-color) {
  display: inline-block;
  padding: 10px 20px;
  background-color: $bg-color;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: $border-radius;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, $hover-darken);
  }

  &:focus {
    outline: none;
  }
}
