@import '../styles/variables';

.main-banner {
  text-align: center;
  background-color: $background-color;
  padding: 50px;

  h1 {
    font-size: 2em;
    color: $text-color;
    margin-bottom: 10px;
  }

  p {
    color: darken($text-color, 20%);
    margin-bottom: 20px;
  }

  .cta-button {
    @include button-style($primary-color);
  }
}
