@import '../styles/variables';

.steps {
  background-color: $background-color;
  padding: 50px;
  text-align: center;

  h2 {
    color: $text-color;
    margin-bottom: 40px;
  }

  .step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .circle {
      width: 80px;
      height: 80px;
      border: 2px solid $primary-color; // Cercle fin
      color: $primary-color; // Chiffres en vert
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-bottom: 10px;
      background-color: transparent; // Pas de remplissage
    }

    p {
      color: $text-color;
      font-size: 1.1em;
      margin: 0;
    }
  }

  .line {
    width: 80px;
    height: 2px;
    background-color: $primary-color; // Ligne de connexion en vert
    margin: 0 20px;
    align-self: center;
  }
}
